@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  min-height: 70px;
  -webkit-box-shadow: rgba(16, 112, 177, 0.2) 5px 20px 50px 0px;
          box-shadow: rgba(16, 112, 177, 0.2) 5px 20px 50px 0px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 20px;
}

.nav a {
  text-decoration: none;
  color: #1f3f68;
  font-size: 20px;
  font-weight: 100;
  line-height: 30px;
}

.content {
  margin-top: 50px;
  height: 600px;
}

.content h1 {
  text-align: center;
  color: #1f3f68;
  font-size: 40px;
  font-weight: 300;
}

.content_info {
  margin-top: 50px;
  background-image: url(img/photo.png);
  background-position: 9% 50%;
  background-repeat: no-repeat;
  background-size: 350px;
  min-height: 462px;
}

.content__text {
  max-width: 671px;
  -webkit-box-shadow: rgba(16, 112, 177, 0.2) 5px 10px 50px;
          box-shadow: rgba(16, 112, 177, 0.2) 5px 10px 50px;
  padding: 48px;
  border-radius: 10px;
  float: right;
}

.puzzle_box {
  margin-top: 20px;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  padding: 0px 48px 48px;
  border-radius: 10px;
  height: 500px;
  text-align: center;
}

.puzzle_box input {
  border: 1px solid #356EAD;
  border-radius: 10px;
  background-color: #ffffff;
  width: 457px;
  height: 34px;
  padding-left: 10px;
  margin-bottom: 12px;
  outline: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  opacity: 0.6;
}

.content__text p {
  color: #1f3f68;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 31px;
}

.content__text a {
  color: #316099;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
}

.content__text a:hover {
  color: #5ba1d3;
}

.content__text li {
  padding-right: 30px;
}

.puzzle_box p {
  color: #1f3f68;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 31px;
  padding-top: 48px;
  text-align: center;
}

.puzzle_text {
  padding-top: 31px !important;
}

.guess_p {
  padding-top: 170px !important;
}

.info {
  padding-top: 75px;
}

.puzzle_box a {
  display: inline-block;
  background-color: #5A98D0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  padding: 11px 51px;
  border-radius: 10px;
}

.puzzle_box a:hover {
  background-color: #5ba1d3;
}

.puzzle_box li {
  padding-right: 30px;
}

.shortcuts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.social {
  margin-bottom: 0 !important;
  margin-top: 31px;
}

.social_links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.social a {
  margin-right: 15px;
}

.svg {
  width: 40px;
}

.footer {
  margin-top: 60px;
  background: #316099;
  padding-top: 70px;
  padding-bottom: 64px;
}

.footer_top {
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_text {
  width: 495px;
}

.footer__heading {
  text-align: left;
  width: 340px;
  color: #ffffff;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.text_footer {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  opacity: 0.6;
}

.footer__button {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #5a98d0;
  padding: 15px 80px;
  text-decoration: none;
  display: inline-block;
}

.footer__border {
  opacity: 0.4;
  border: 1px solid #ffffff;
}

.footer_copy {
  margin-top: 64px;
}

.copy__text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .nav {
    display: block;
    list-style-type: none;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
  .nav li:not(:last-child) {
    padding-bottom: 10px;
  }
  .content {
    height: 924px;
  }
  .content h1 {
    margin-top: 50px;
  }
  .content_info {
    background-position: 50% 0%;
    background-size: 250px;
  }
  .content__text {
    margin-top: 300px;
  }
  .content_puzzle {
    height: 615px;
  }
  .footer {
    padding-top: 47px;
  }
  .footer_top {
    padding-bottom: 64px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer_text {
    width: 336px;
  }
  .footer__button {
    padding: 3px 30px;
  }
  .footer-bottom {
    margin-left: 60px;
  }
}

@media (max-width: 667px) {
  .content {
    height: 1430px;
  }
  .content__text {
    width: 216px;
  }
  .content__text p {
    text-align: center;
  }
  .content__text .shortcuts {
    display: block;
    text-align: center;
  }
  .content__text .shortcuts li {
    padding-right: 0;
    padding-bottom: 10px;
  }
  .content__text li {
    padding-right: 20px;
  }
  .content__text .social {
    margin-top: 21px;
  }
  .content_puzzle {
    height: 767px;
  }
  .content_guess {
    height: 405px;
  }
  .content_guess2 {
    height: 810px;
  }
  .content_password {
    height: 452px;
  }
  .guess_box {
    height: 290px !important;
  }
  .guess_p {
    padding-top: 48px !important;
  }
  .guess2_h3 {
    padding-top: 0px;
  }
  .guess2_box a {
    padding: 11px 47px;
  }
  .puzzle_box {
    height: 651px;
  }
  .puzzle_box input {
    width: 203px;
  }
  .password_box {
    height: 290px;
  }
  .password_box a {
    padding: 11px 22px;
  }
  .footer {
    padding-bottom: 32px;
    margin-top: 64px;
  }
  .footer_top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 40px;
  }
  .footer__heading {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
  .text_footer {
    text-align: center;
  }
  .footer__button {
    margin-top: 40px;
  }
  .footer-bottom {
    margin-left: 0;
  }
  .footer_copy {
    margin-top: 37px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */