@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.header {
  min-width: 1300px;
  background-color: #ffffff;
  margin: 0 auto;
  height: 50px;
  text-align: center;
  padding-top: 18px;
  -webkit-box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
}

.header .selected {
  color: #000;
}

.center {
  width: 1300px;
  margin: 0 auto;
}

.header a {
  color: #1F3F68;
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  padding-right: 40px;
}

.header span {
  padding: 0 38px;
}

.content {
  min-width: 1300px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}

.content h1 {
  width: 100%;
  float: left;
  text-align: center;
  color: #1F3F68;
  font-size: 40px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content h3 {
  color: #242424;
  font-size: 35px;
  font-weight: 300;
  text-align: left;
  margin-left: 41px;
  margin-bottom: 52px;
}

.content .info {
  margin-left: 0;
}

.content h5 {
  color: #242424;
  font-size: 24px;
  text-align: left;
}

.content img {
  margin-left: 17px;
  width: 389px;
  border-radius: 50%;
}

.content .box_text {
  width: 671px;
  background-color: #ffffff;
  float: right;
  padding: 48px;
  margin-bottom: 50px;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.content .box_text p {
  color: #1F3F68;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  margin-bottom: 31px;
}

.content .box_text a {
  color: #40678a;
  font-size: 24px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  padding-right: 30px;
}

.content .media {
  margin-right: 0;
}

.content .box {
  background-color: #ffffff;
  width: 1238px;
  min-height: 500px;
  margin: 50px auto 0 auto;
  padding-top: 37px;
  padding-left: 38px;
  padding-bottom: 100px;
}

.content .box p {
  color: #242424;
  font-size: 24px;
  font-weight: 100;
  text-align: left;
  margin-top: 37px;
  margin-bottom: 30px;
}

.content .box .puzzle_p {
  margin-top: 15px;
  margin-bottom: 10px;
}

.content .box input {
  border: 1px solid #356EAD;
  border-radius: 10px;
  background-color: #ffffff;
  width: 457px;
  height: 34px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 12px;
  outline: none;
}

.content .box a {
  display: block;
  float: left;
  background-color: #5A98D0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
  padding: 11px 51px;
  border-radius: 10px;
}

.content .box a:hover {
  background-color: #5ba1d3;
}

.links {
  color: #316099 !important;
  font-weight: 500 !important;
}

.social {
  margin-top: 31px;
}

.social a {
  padding-right: 0 !important;
}

.social_media {
  width: 40px !important;
}

.footer {
  background: #316099;
  width: 100%;
  float: left;
  height: 140px;
  text-align: center;
  color: #a4a4a4;
  font-size: 20px;
  font-weight: 100;
  line-height: 140px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer p {
  color: #FFFFFF;
  opacity: 0.4;
}
/*# sourceMappingURL=style.css.map */